@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,100;9..40,700&family=Fredoka:wght@700&family=Inconsolata:wght@300;600&family=Poppins:wght@200;500&family=Reem+Kufi+Fun&family=Roboto:wght@100&display=swap');
/*
font-family: 'Anton', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*  style */



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.container-header {
    max-width: 100%;
    margin: 0 auto;
   }

.container-big {
 max-width: 1200px;
 margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.col-12a {
	flex-basis: calc((100% / 12) * 12);
    border: solid red 2px;
}

.col-10 {
	flex-basis: calc((100% / 12) * 10);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-3 {
	flex-basis: 30%;
    border: solid #F5F5F5 2px;
    margin:16px;

}


.col-a {
    flex-basis: calc((100%/ 12) * 2.4);
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.row > [class^='col'] {
    padding: 0px 0px;
}

.rowA {
	display: flex;
	flex-wrap: wrap;
}
.rowA > [class^='col'] {
    padding: 0px 25px;
}







/*  header */

.page-header {
    padding: 20px 0;
    font-family: 'DM Sans', sans-serif;
    background-color: white;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:10px;
    align-items: center;
}

.justify-between {
	justify-content: space-between;
    align-items: center;
}

.list {
    text-decoration: none;
    color: black;
}

.blue-box {
    display: inline-block;
    color: white;
    background-color: #0061FF;
}

.logo {
    display: block;
}

.button-small {
    font-size: 15px;
    background-color: #0061FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 50px;
    height: 25px;
    border: none;
}



/* hero */

.hero {
    padding-top: 40px;
    background-color: #B4D0E7;
}

.title-display {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 800;
    padding-top: 15px;
}

.hero-text {
    padding-top: 30px;
    font-family: 'DM Sans', sans-serif;
}

.hero-1 {
    padding: 15px;
    font-family: 'DM Sans', sans-serif;
}

.img1 {
    width: 100% ;
    height: 100%;
    padding-top: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.button-big {
    background-color: #0061FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    line-height: 44px;
    border: none;
    display: inline-block;
}

.annulla {
    font-family: 'DM Sans', sans-serif;
}

.arrow {
    font-size: 42px;
}

/* Section 1 card*/


.radio {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.section-1 {
    padding-top: 100px;
    font-family: 'DM Sans', sans-serif
    
}




.col-4a {
    
	flex-basis: calc((100% / 12) * 4  );
    border: solid #DBDBDD 1px;
    max-height: 100%;
}

.title-section {
    font-size: 15px;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    border-bottom: solid #DBDBDD 1px;
    gap: 5px
}

.list-info {
    padding-left: 20px;
    list-style: none;
}

.list-advantage {
    padding-left: 20px;
    padding-top: 40px;
    list-style: none;
}

.qualification {
    padding-top: 10px;
    font-weight: 800;
    font-size: 20px;
}
.cost {
    padding-top: 7px;
}

.info-cost {
    padding-top: 3px;
    color: grey;
}


.contact {
    font-weight: 800;
    padding-top: 10px;
}




.padding-10 {
    padding-top: 10px;
}

.padding-list2 {
    padding-top: 10px;
}

.box {
    padding-top: 20px;
    color: white;
    text-align: center;
    display: inline-block;
	width: 200px;
	height: 30px;
	background-color: #0061FF;
	
}

.try {
    padding-top: 40px;
    text-align: center;
}

.buy-now {
    padding-top: 20px;
    padding-left: 20px;
}

.button-bigA {
    background-color: #0061FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    line-height: 44px;
    border: none;
    display: inline-block;
}




.solution-text {
    padding-top: 10px;
    padding-left: 20px;
}




/* Patner */

.patner {
    padding-top: 40px;
    background-color: white;
}


.patner-text {
    padding-top: 30px;
    font-family: 'DM Sans', sans-serif;
}



.img1 {
    width: 80% ;
    height: 80% ;
    
}

.patner__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.button-gray {
    background-color:white;
    color: gray;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    line-height: 44px;
    border: solid gray 1px;
    display: inline-block;
}

.title-1 {padding-top: 60px;
    font-family: 'DM Sans', sans-serif;
}


/* operation */

.op-padding {
    padding-bottom: 50px;
}

.operation {
    display: flex;
    font-family: 'DM Sans', sans-serif;
}

.p-operation {
    padding-top: 20px;
}

/* mini section 500.000 clients */

.design {
    
    background-color: green;
    width: 150px;
    height: 150px;
    text-align: center;
}

.florida {
    display: flex;
    background-color: blue;
   
}


/* companies section*/

/* background color */
.bg-green {
    background-color: #A2D39B;
}

.bg-blue {
    background-color: #0061FF;
}

.bg-wine {
    background-color: #61082B;
}

.bg-red {
    background-color: #FF1C1C;
}

.bg-Redred {
    background-color: #D5001F;
}

.bg-BlueBlue {
    background-color: #0D2481;
}

.bg-lightBlue {
    background-color: #B4D0E7;
}

.bg-Yellow {
    background-color: #FFD830;
}

.margin-team {
    margin-bottom: 50px;

}

.icon {
    filter: invert(100%);
}

.companies .col-2 > .company-logo {
    padding: 40px 20px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* loghi*/
.companies .col-2 > .company-logo img {
    min-height: 50px;
    width: 180px;
}

.companies .col-4 > .company-logo {
    margin-bottom: 90px;
}

.companies .col-4 > .company-logo img {
    height: 90px;
}

.companies .col.col-4 {
padding: 50px 50px;
}

.team-description {
    font-family: 'DM Sans', sans-serif;
}

/* trial*/

.trial {
    background-color: #B4D0E7;
    padding: 130px 10px 65px 10px;
}
.button-free-try {
    background-color: white;
    border: solid gray 1px;
    line-height: 42px;
    width: 250px;
    font-family: 'DM Sans', sans-serif;
}

.trial-title {
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    color: #61082B;
}

/* faq */

.faq {
    font-family: 'DM Sans', sans-serif;
    padding: 150px 10px;
}

.faq .question {
    display: flex;
    border-top: 1px solid black;
    line-height: 100px;
}

.faq .question:last-child {
    border-bottom: 1px solid black;
}

.faq-bold {
    font-weight: 700;
}

.faq-freq {
    padding-bottom: 40px;
    font-size: 40px;
}


/* footer */
.bg {
    background-color: black;
}

.text-footer {
    padding-top: 20px;
    font-family: 'DM Sans', sans-serif;
    color: white;
}

.none {
    list-style: none;
    padding-top: 7px;
}

h5 {
    font-size: 25px;
}



.ita {
    padding-top: 100px;
}


























