@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,100;9..40,700&family=Fredoka:wght@700&family=Inconsolata:wght@300;600&family=Poppins:wght@200;500&family=Reem+Kufi+Fun&family=Roboto:wght@100&display=swap');
/*
font-family: 'Anton', sans-serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Poppins', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*  style */



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 100%;
}

.container-header {
    max-width: 100%;
    margin: 0 auto;
   }

.container-big {
 max-width: 1200px;
 margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	
}

.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.col-10 {
	flex-basis: calc((100% / 12) * 10);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
}

.row > [class^='col'] {
    padding: 0 25px;
}



/*  header */

.page-header {
    padding: 20px 0;
    font-family: 'DM Sans', sans-serif;
    background-color: white;
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:10px;
    align-items: center;
}

.justify-between {
	justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.blue-box {
    display: inline-block;
    color: white;
    background-color: #0061FF;
}

.logo {
    display: block;
}

.button-small {
    font-size: 15px;
    background-color: #0061FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 50px;
    height: 25px;
    border: none;
}



/* hero */

.hero {
    padding-top: 40px;
    background-color: #B4D0E7;
}

.title-display {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 800;
    padding-top: 15px;
}

.hero-text {
    padding-top: 30px;
    font-family: 'DM Sans', sans-serif;
}

.hero-1 {
    padding: 15px;
    font-family: 'DM Sans', sans-serif;
}

.img1 {
    width: 100% ;
    height: 100%;
    padding-top: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.button-big {
    background-color: #0061FF;
    color: white;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    line-height: 44px;
    border: none;
    display: inline-block;
}

.annulla {
    font-family: 'DM Sans', sans-serif;
}

.arrow {
    font-size: 42px;
}

/* Section 1 card*/


.radio {
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.section-1 {
    padding-top: 100px;
    font-family: 'DM Sans', sans-serif
    
}




.col-4a {
    
	flex-basis: calc((100% / 12) * 4  );
    border: solid #DBDBDD 1px;
    max-height: 100%;
}

.top-section {
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    border-bottom: solid #DBDBDD 1px;
    gap: 5px
}

.list1 {
    padding-left: 20px;
    list-style: none;
}

.element-padding1 {
    padding-top: 10px;
    font-weight: 800;
    font-size: 20px;
}

.contact {
    font-weight: 800;
}

.element-padding2 {
    padding-top: 7px;
    
}

.element-padding3 {
    padding-top: 3px;
    color: grey;
}

.list2 {
    padding-left: 20px;
    padding-top: 40px;
    list-style: none;
}

.element1 {
    padding-top: 10px;
}

.box {
    color: white;
    text-align: center;
    display: inline-block;
	width: 200px;
	height: 30px;
	background-color: #0061FF;
	
}

.try {
    padding-top: 40px;
    text-align: center;
}

.buy-now {
    padding-top: 20px;
    padding-left: 20px;
    
    
}

.list3 {
    padding-left: 20px;
    padding-top: 40px;
    list-style: none;
}

.element2 {
    padding-top: 10px;
}



/* part 2 section 1

.col-12a {
    
	flex-basis: calc((100% / 12) * 12);
    border: solid 1px red;
}
*/



.col-12a {
    border: soli red 2px;
	flex-basis: calc((100% / 12) * 12);
}

/* prova*/


/* Patner */

.patner {
    padding-top: 40px;
    background-color: white;
}


.patner-text {
    padding-top: 30px;
    font-family: 'DM Sans', sans-serif;
}



.img1 {
    width: 80% ;
    height: 80% ;
    
}

.patner__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.button-gray {
    background-color:white;
    color: gray;
    font-family: 'DM Sans', sans-serif;
    width: 150px;
    line-height: 44px;
    border: solid gray 1px;
    display: inline-block;
}

.title-1 {padding-top: 60px;
    font-family: 'DM Sans', sans-serif;
}
















